---
import MainContainer from "src/components/MainContainer.astro";
import Layout from "../components/Layout.astro";
---

<Layout title="Welcome to Astro Neumorphism template">
  <MainContainer>
    <div class="flex flex-col md:flex-row items-center space-x-4 shadow-box-up dark:shadow-orange-dark p-4 md:p-6 rounded-xl">
     
      
      <div class="font-medium dark:text-white">
        <div class="mb-2 md:mb-0">Hola soy Robert</div>
        <div class="text-xs text-gray-500 dark:text-gray-400">
          <p> Un joven emprendedor apasionado por el desarrollo web, quien ha dedicado sus últimos años a estudiar en la Academia San Marco de Zaragoza, especializándose en diseño y desarrolo applicaciones web.<br/>
             Con una sólida formación entre 2021 y 2024, puedo ofrecer mi experiencia  conocimientos y habilidades para proyectos de diseño y desarrollo web.<br>
            Para cualquier consulta no dudes encontactar conmigo.<br>
            Estaria encantado de atenderte.</p>
      </div>
    </div>
  </MainContainer>
</Layout>
